# name: app_environment
# channels:
#   - snowflake
# dependencies:
#   - python=3.11.*
#  - snowflake-snowpark-python=
#  - streamlit=

# requirements.txt
snowflake-snowpark-python
streamlit
import requests
smoothiefroot_response = requests.get("https://my.smoothiefroot.com/api/fruit/watermelon")
st.text(smoothiefroot_response)
